// Gera coluna da grid de acordo com o numero de colunas
// passado como parametro.

@mixin cols($qtd) {
	display: inline-block;
	vertical-align: top;
	font-size: $base-font-size;
	text-align: left;
	width: ($grid-col-width * $qtd) + ($qtd - 1) * $grid-gutter;
	margin: 0 ($grid-gutter / 2);

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	@include breakpoint(tablet) {
		@if $qtd >= 3 {
			margin: 0;
		}
	}

	@include breakpoint(mobile) {
		width: $grid-col-width-mobile;
		margin: 0;
	}
}


// Gera coluna livre de margin e float.

@mixin free-cols($qtd) {
	width: ($grid-col-width * $qtd) + ($qtd - 1) * $grid-gutter;
}
