//Paths
$path-font: '../files/fonts/';

//Fonts
$bebasregular: 'bebasregular';
$bebas_kairegular: 'bebas_kairegular';
$bebas_neubold: 'bebas_neuebold';
$bebas_neubook: 'bebas_neuebook';
$bebas_neulight: 'bebas_neuelight';
$bebas_neue_regularregular: 'bebas_neue_regularregular';
$bebas_neuethin: 'bebas_neuethin';
$bebas_neueregular: 'bebas_neueregular';

$base-font-size: 16px;

//Titles
$title-h1: 64px;
$title-mobile-h1: 40px;
$title-h2: 52px;
$title-mobile-h2: 36px;
$title-h3: 32px;
$title-mobile-h3: 24px;
$title-h4: 36px;
$title-mobile-h4: 32px;


//Screen Sizes
$ui-white: #FFFFFF;
